*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
header{
    position: relative;
}
nav{
    display: flex;
    height: 50px;
    background-color:#0010d2;
    align-items:flex-end;
    justify-content: space-around;
    border-style: groove black;
    
}

ul, ol{
    padding-left: 40px;
}
.menu{  display: flex;
    font-family: 'Roboto', monospace;
    background-color:rgb(231, 226, 226);
    color: #222;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border:ridge 2px;
    padding-left: 15px;
    padding-right: 15px;
}
.menu:hover{
    box-shadow: 4px 4px 0px rgba(0,0,0, 0.9), inset 0 0 50px rgba(0,0,0, 0.3),3px 3px 10px rgba(218, 10, 10, 0.9);
}

div .logo {

    border: black solid 2px;
    height: 70px;
    width: 75px;
    position: absolute;
    top: 5px;
    margin-left: 3%;
    margin-right: auto;
    z-index: 1;
}

main{
    
    background-position: relative;
    background-color: #0010d2;
}
.div__h1{
    display: flex;
    justify-content: center;
    
}
.h1{
    display: flex;
    background-position: absolute;
    background-image: url(/Imagenes/background-image.jpg);
    height:650px;
    background-color: transparent;
    background-size: cover;
    align-items: center;
    justify-content: left;
    padding: 200px;
    font-family: 'Roboto', monospace;
    font-size: 50px;
    color:white;

}
section{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
}
.div__h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:inset 0 0 20px rgba(0,0,0, 0.3);
}
h2{
    display: flex;
    /* align-self: center; */
    align-items: center;
    justify-content: center;
    align-self: center;
    font-family: 'Roboto', monospace;
    background-color:rgb(231, 226, 226);
    margin: 20px;
    padding: 5px;
    border:ridge 2px;
    width: 30%;
}
.section__home{
    display: flex;
    align-items: center;
    border: ridge black 5px;
    padding: 40px;
}
.dias{
    font-family: 'Roboto', monospace; 
    font-size: 50px;
    color: rgb(240, 240, 240);

}
.meses{
    font-family: 'Roboto', monospace;
    font-size: 20px;
    color: rgb(240, 240, 240);
}
.jornada{
    font-family: 'Roboto', monospace;
    font-size: 25px;
    color: rgb(240, 240, 240);
}
.a__button:hover{
    width:104.61px;
    height:39.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 0px rgba(0,0,0, 0.9), inset 0 0 50px rgba(0,0,0, 0.3),3px 3px 10px rgba(218, 10, 10, 0.9);
}

.descripcion{
    width: 50%;
    display: flex;
    /* align-self: center; */
    align-items: center;
    justify-content: center;
    align-self: center;
    font-family: 'Roboto', monospace;
    color: rgb(240, 240, 240);
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.mentores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    

}
.mentor {
   display: flex;
   margin-bottom: 20px;
   justify-content: space-between;
   align-items: center;
   color: rgb(240, 240, 240);
}


.image__circle:hover{
    height: 150px;
    width: 150px;
    border: ridge 3px;
    margin: 50px;
    transform: scale(1.5);
    transition: transform 0.7s;
    
    
    /* width: 30%; */
    
}
.lluis, .beto, .fer{
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', monospace;
}

.descripcion__mentor{
    text-align: justify;
    font-family: 'Roboto', monospace;
    width: 50%;
    padding: 20px;
}

.div__box__map{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
iframe{
padding: 30px;
}
.email{
    margin: 30px;
    padding: 10px;
    font-family: 'Roboto', monospace;
}
button{
    padding: 10px;
    margin: 30px;
    font-family: 'Roboto', monospace;
    border-bottom-style: ridge;
	text-decoration: none;
    
}
.div__form{
    display: flex;
    justify-content: center;
    align-self: center;
    
}
form{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 40%;
    border: ridge;
    background-color: rgb(231, 226, 226);
    box-shadow: 20px 20px 0px rgba(0,0,0, 0.9), inset 0 0 50px rgba(0,0,0, 0.3),20px 20px 10px rgba(218, 10, 10, 0.9);
}
.info__personal, .info__especifica{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    border-bottom: ridge;
    font-family: 'Roboto', monospace;

}
.flex__nombreyapellido,.flex__cp,.flex__email{
display: flex;
flex-direction: row;
}
.div__tabla{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 20px;
    
}
.tabla{
    border: ridge;
    border-collapse: separate;
    margin: 30px;
    padding: 20px;
    background-color: rgb(231, 226, 226);
    font-family: 'Roboto', monospace;
    
}
thead,tbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.t1,.t2,.t3,.t4,.t5{
    margin: 10px;
    padding: 15px;
    text-align: left;
    width: 250px;
}
.tr__thead{
    font-size: 25px;
    text-shadow: 1px 1px 2px #0010d2;
    text-decoration: underline;

}

.div__section {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

h3{
        font-size: 30px;
        text-shadow: 1px 1px 2px #0010d2;
        
    }

.section__html, .section__css{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
